#Principal{background-color: white;
width: 1300px;
height: 2250px;
border: 2px solid black;
margin: 0 auto;
}

#PrincipalC{background-color: white;
width: 1300px;
height: 1200px;
border: 2px solid black;
margin: 0 auto;
}

#LOGO{border: 1px solid black;
float: left;
margin-left: 7.5%;
opacity: 2.0;
background-position: center;
}

#MENUS{border: 1px solid black;
float: left;
width: 85%;
background-color: magenta;
margin: 0 auto;
opacity: 1.0;}

#inMenus{float: left;
border: 1px solid orange;
background-color: magenta;
overflow: auto;
float: left;
width: 19.5%;
height: 90px;
background-color: #2f4550;
margin: 0 auto;
}

#CAROUSEL{border: 1px solid black;
float: left;
margin-left: 7.5%;
width: 85%;
height: 400px;
background-color: rgb(172,148,51);
opacity: 0.9;
}

#ANUN-STATIC{border: 1px solid black;
margin-left: 7.5%;
float: left;
width: 85%;
height: 685px;
background-color: #2f4550;
opacity: 0.9;}

#ANUN-STATICp{border: 1px solid black;
margin-left: 7.5%;
float: left;
width: 85%;
height: 685px;
background-color: #2f4550;
opacity: 0.9;}

#ANUN-STATIC img:hover
{
    -webkit-transform: scale(1.5);
transform: scale(1.5); 
}

#ANUN-STATICp img:hover
{
    margin-top: 7%;
    -webkit-transform: scale(1.45);
transform: scale(1.45); 
}

.estaticos
{
    height: 300px;
    width: 330px;
    border: 1px solid black;
    float: left;
    margin-left: 28px;
    margin-top: 28px;
    background-color: black;
    opacity: 0.9;
    color: burlywood;
}

.estaticosP
{
    height: 450px;
    width: 94.5%;
    border: 1px solid black;
    float: left;
    margin-left: 28px;
    margin-top: 28px;
    background-color: black;
    opacity: 0.9;
    color: burlywood;
    text-align: center;
}

#RODAPE{border: 1px solid black;
margin-left: 7.5%;
float: left;
width: 85%;
height: 650px;
background-color: #2f4550;
opacity: 0.9;
}


.imgfundo{background-image: url("imgfundo.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100%;
}

*{
    margin: 0;
    padding: 0;   
}

.menu{
    width: 85.2%;
    margin-left: 7.5%;
    height: 50px;
    background-color: #222;
    font-family: arial;
}

.menu ul{
    list-style: none;
    position: relative;
    
}

.menu ul li{
    width: 20%;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    opacity: 0.9;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
    width: 100%;
    z-index: 1;
}

.menu a:hover{
    background-color: #f4f4f4;
    color: #555;
    
}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc; 
}

.menu ul ul li a{
    color: #fff;
    opacity: 0.9;
    background-color: #000;
}

.corpo{
    background: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imglogo{
background-image: url("logo.jpg");
background-attachment: scroll;
background-repeat:no-repeat ;
width: 85%;
height: 20%;
}

.imglogoC{
background-image: url("logo.jpg");
background-attachment: scroll;
background-repeat:no-repeat ;
width: 85%;
height: 500px;
}


.tela{
    color: black;
    width: 250px;
    height: 50px;
    padding-top: 230px;
    text-align: center;
}

.tela input{
    background-color: #f4f4f4;
    display: block;
    margin: 1px 1px 1px 15px;
    width: 80%;
    padding: 0.1px;
    color: black;
    opacity: 1.0;
    border: solid 2px #2f4550;
}

.centraliza{
    text-align: center;
}

.tela label{
    display: block;
    padding: 2px 15px 2px 2px;
    font-size: 18px;
    color: black;
}


.tela button{
    display: block;
    margin: 5px 0px 0px 83px;
    font-size: 13px;
    color: black;
    background-color: #EBEBEB;
    border: solid 2px #2f4550;
    margin-bottom: 4px;
}

.tela a{
    background-color: black;
    margin-left: -20px;
}


.pesquisa{
    width: 400px;
    height: 40px;
    margin: 4px 890px auto;
}

#texto{
    background-color: #EBEBEB;
    width: 180px;
    height: 22px;
    float: left;
    font-family: arial;
    font-size: 15px;
    color: #000;
    border-color: #708090;
}

.btn{
    width: 12px;
    height: 12.5px;
    background-color: #2f4550;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0px 2px 3px #808080;
}

#texto:focus{
    border: solid 2px #2f4550; 
}

.btn:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.Rodapecss{
    float: left;
    width: 33.33%;
    height: 100%;
    border: 0.5px solid black;
    color: #fff;
    background-color: #222;
    text-align: center;
    overflow: hidden;
    
    
}


.Menu2{
    padding: 40px;  
    text-decoration: none;
    text-align:left;
    background-color: #222;
    color: #fff;
}

.font{
     font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
}
    
.font1{
    font-size: 30px;
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 10px;
}
.font2{
    font-size: 25px;
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
    white-space: nowrap;
    overflow: visible;
}

.font3{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: arial;
    font-size: 20px;
    text-align: justify;
    color: white;
}

.centralizar
{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.centralizarP
{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 40px;
    color: burlywood;
}


a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:hover {text-decoration: underline;
 color: white;}
a:active {text-decoration: none; color: black;}



/* Pagina de Cadastro */

.Tela_Cadastro{
    margin-top: 2%;
    margin-left: 5%;
    color: black;
    width: 1000px;
    height: 500px;
    padding-top: 0px;
    text-align: center;
    
}
.esquerda
{
    text-align: left;
    width: 40%;
    float: left
    
}

.direita
{
    text-align: right;
    width: 40%;
    float: right;
    margin-left: 10%;
}

.Tela_Cadastro label{
    color: #ebebeb;
    text-align: left;
    font-family: arial;
    font-size: 20px;
}

.Tela_Cadastro input{
    margin-top: 5%;
    font-family: arial;
    font-size: 18px;
    border: solid 2px #2f4550;
}

.Tela_Cadastro button{
    font-family: arial;
    font-size: 20px;
    margin-top:  5%;
    border: solid 2px #2f4550;
}

.Tela_Cadastro button:hover{
    border: solid 2px #000;
}





